name: report-automation

on:
  pull_request:
    types: 
      - closed

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    with:
        path: ${{ github.workspace }}
    steps:
      - run: |
          python ./report-automation.py          